 Large desktops and laptops */
@media (min-width: 1200px) {
	body{
		background-color: #ffffff;
	}
	.transparent .header-in h1 a .logotipo-metra{
    	margin-left: 40px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		background-color: #ffffff;
	}
	.transparent .header-in h1 a .logotipo-metra{
    	margin-left: 40px;
	}
	.transparent .navigation > ul > li > a, 
	.transparent .navigation > ul > li > a:after{
		color: #252525;
	}
	.header-text h1{
		font-size: 50px;
		padding: 10px 60px;
	}
}	

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	body{
		background-color: #ffffff;
	}
	.header-text h1{
		padding: 10px 60px;
	}
	.transparent .header-in h1 a .logotipo-metra{
    	margin-left: 40px;
	}
	.col-ap-txt{
		width: 50%;
		display: inline-block;
		padding:100px 30px 80px 30px;
	}
	.col-ap-mapa{
		width: 49%;
		display: inline-block;
	}
	.col-ap-mapa img{
		width: 100%;
	}
}	

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	body{
		background-color: #ffffff;
	}
	.transparent .header-in h1 a .logotipo-metra{
    	margin-left: 40px;
	}
	.header-text h1{
		font-size: 35px;
		padding: 10px 60px;
	}
}

@media (max-width: 634px) {
	body{
		background-color: #ffffff;
	}
	.transparent .header-in h1 a .logotipo-vertice{
		width: 70px;
	}
	.transparent .header-in h1 a .logotipo-metra{
		width: 180px;
    	margin-left: 30px;
	}
	.header-text h1{
		font-size: 35px;
		padding: 10px 60px;
	}
}	

/* Landscape phones and smaller */
@media (max-width: 480px) {
	body{
		background-color: #ffffff;
	}
	.transparent .header-in h1 a .logotipo-vertice{
		width: 50px;
	}
	.transparent .header-in h1 a .logotipo-metra{
		width: 130px;
    	margin-left: 0px;
	}
	.header-text h1{
		font-size: 35px;
		padding: 10px 10px;
	}
	.slides-navigation{
		display: none;	
	}
	.navigation ul li a{
		font-size: 20px;
		padding: 10px; 
	}
}