.slides,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:none;}
.flexslider{position:relative;margin:0;padding:0 110px;zoom:1;}
.flex-wrap-viewport{position:relative;}
.flex-viewport{max-height:2000px;}
.loading .flex-viewport{max-height:300px;}
.flexslider .slides{zoom:1;}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden;text-align:center;}
.no-js .slides > li:first-child{display:block;}
.flexslider .slides img{display:block;width:100%;}
.flex-direction-nav a{position:absolute;top:35%;z-index:10;display:block;overflow:hidden;margin-top:-35px;width:35px;height:70px;border:1px solid #dcdcdc;text-align:center;font-size:0;-webkit-border-radius:3px;border-radius:3px;-webkit-transition:all .25s ease;transition:all .25s ease;}
.flex-direction-nav .flex-prev{left:-110px;}
.flex-direction-nav .flex-next{right:-110px;}
.flex-direction-nav a:hover{border-color:transparent;background-color:#00c2a9;}
.flex-direction-nav .flex-disabled{opacity:0 !important;filter:alpha(opacity = 0);cursor:default;}
.flex-direction-nav a:before{display:block;color:#00c2a9;font-size:30px;font-family:'fontello';line-height:68px;text-align:center;-webkit-transition:color .25s ease;transition:color .25s ease;}
.flex-direction-nav .flex-prev:before{content:'\e8b7';}
.flex-direction-nav .flex-next:before{content:'\e8b8';}
.flex-direction-nav a:hover:before{color:#fff;}
.flex-pauseplay a{position:absolute;bottom:5px;left:10px;z-index:10;display:block;overflow:hidden;color:#000;opacity:0.8;cursor:pointer;}
.flex-pauseplay a:before{}
.flex-pauseplay a:hover{}
.flex-pauseplay a.flex-play:before{}
.flex-control-nav{position:absolute;bottom:-40px;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;margin:0 6px;zoom:1;}
.flex-control-paging li a{display:block;width:11px;height:11px;background:#666;background:rgba(0,0,0, 0.5);cursor:pointer;text-indent:-9999px;}
.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7);}
.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default;}
.flex-control-thumbs{position:static;overflow:hidden;margin-bottom:70px;font-size:0;text-align:center;}
.flex-control-thumbs li{display:inline-block;margin:0 15px;width:100px;}
.flex-control-thumbs i{display:block;margin-bottom:15px;border:1px solid #cfcfcf;color:#5b5e60;font-size:44px;line-height:96px;cursor:pointer;-webkit-border-radius:6px;border-radius:6px;-webkit-transition:all .25s ease;transition:all .25s ease;}
.flex-control-thumbs .flex-active{border-color:transparent;background-color:#00c2a9;}
.flex-control-thumbs .flex-active:before{color:#fff;}
.flex-control-thumbs h6{color:#5b5e60;font-size:18px;font-family:'Roboto Condensed', sans-serif;text-transform:uppercase;}
@media only screen and (min-width:993px) and (max-width:1200px){.flexslider{padding:0 50px;}
.flex-direction-nav .flex-prev{left:-70px;}
.flex-direction-nav .flex-next{right:-70px;}
.flex-control-thumbs{margin-bottom:40px;}
.flex-control-thumbs li{margin:0 10px;width:80px;}
.flex-control-thumbs i{font-size:36px;line-height:80px;}
}
@media only screen and (min-width:768px) and (max-width:992px){.flexslider{padding:0 50px;}
.flex-direction-nav .flex-prev{left:-70px;}
.flex-direction-nav .flex-next{right:-70px;}
.flex-control-thumbs{margin-bottom:20px;}
.flex-control-thumbs li{margin:0 10px;width:60px;}
.flex-control-thumbs i{font-size:30px;line-height:60px;}
.flex-control-thumbs h6{font-size:14px;}
}
@media only screen and (max-width:767px){.flexslider{padding:0;}
.flex-direction-nav .flex-prev{display:none;}
.flex-direction-nav .flex-next{display:none;}
.flex-control-thumbs{margin-bottom:20px;}
.flex-control-thumbs li{margin:0 10px;width:60px;}
.flex-control-thumbs i{margin-bottom:10px;font-size:30px;line-height:60px;}
.flex-control-thumbs h6{font-size:14px;}
}
@media only screen and (max-width:479px){.flex-control-thumbs li{width:40px;}
.flex-control-thumbs i{font-size:18px;line-height:40px;}
.flex-control-thumbs h6{font-size:12px;}
}